@font-face {
    font-family: "SF UI Display Light";
    src: url('/fonts/SF-UI-Display-Light.woff2') format('woff2'),
        url('/fonts/SF-UI-Display-Light.woff') format('woff');
}

@font-face {
    font-family: "SF UI Display Bold";
    src: url('/fonts/SF-UI-Display-Bold.woff2') format('woff2'),
        url('/fonts/SF-UI-Display-Bold.woff') format('woff');
}

@font-face {
    font-family: "SF UI Display Black";
    src: url('/fonts/SF-UI-Display-Black.woff2') format('woff2'),
        url('/fonts/SF-UI-Display-Black.woff') format('woff');
}

html {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
    position: fixed;
}

body {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
    position: fixed;
}

/* Background and mobile controls */
#bg-circle {
    position: absolute;
    top: -50vw;
    right: -28vw;
    z-index: -1;
    width: 75vw;
    height: 75vw;
    border-radius: 50%;
    background-color: #147efb;
}

#menu-circle {
    overflow: hidden;
    position: absolute;
    top: -5%;
    right: -5%;
    background-color: #147efb;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#overlay a {
    display: block;
    z-index: 99;
    color: white;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-size: 2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    display: none;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 10vh;
}

#overlay a:last-of-type {
    margin-bottom: 0;
}

.engulf {
    transform: scale(150) !important;
    display: block !important;
}

.overlay-show {
    z-index: 1 !important;
}

.is-open::before {
    transform: scale(1);
    visibility: visible;
}

.show-links {
    display: block !important;
}

/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 90%;
    margin-top: 10px;
}

#logo {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Black';
    font-size: 3rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
}

.rightnav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-size: 1.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 30px;
    padding-bottom: 8px;
}

.rightnav a:last-of-type {
    margin-right: 0;
}

@media (max-width: 1000px) {
    .navbar {
        width: 90%;
    }

    .rightnav a {
        font-size: 1.3rem;
    }

    #bg-circle {
        right: -23vw;
    }
}

@media (max-width: 900px) {
    .rightnav a {
        display: none;
    }

    #bg-circle {
        right: -30vw;
        top: -40vw;
    }

    #hamburger {
        position: relative;
        z-index: 2;
    }
}

/* Hover underline */
nav>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out 0s;
}

nav>a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Hide Hambuger if over 900px */
@media only screen and (min-width: 900px) {
    #hamburger {
        display: none;
    }
}

@media (max-width: 600px) {

    html,
    body {
        max-width: 100vw;
    }

    #logo {
        font-size: 2.3rem;
    }
}

@media (max-width: 500px) {
    .navbar {
        width: 95%;
    }

    #logo {
        font-size: 2rem;
    }

    .social-logo {
        height: 45px !important;
    }

    .links-row a {
        font-size: 14px;
    }
}


/* Footer styles */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 15px;
}

.social-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-logo {
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.links-row {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-row a {
    margin: 3px 5px 3px 5px;
    text-decoration: none;
    color: black;
    transition: .15s ease-in-out;
}

.links-row a:hover {
    cursor: pointer;
    color: rgb(141, 141, 141);
}

#copyright {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    margin-bottom: 10px;
}