#mainFAQContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mainFAQContainer>h1 {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-size: 2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
}

#accordionContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    margin-bottom: 30px;
}

.accordion {
    background-color: #f0f0f0;
    width: 100%;
    font-size: 15px;
    text-align: left;
    border-radius: 7px;
    border: none;
    padding: 0 13px;
    min-height: auto;
    margin-top: 3px;
    transition: .15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.accordion:hover {
    background-color: #147efb;
}

.accordion p {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    margin: 13px 0;
}

.accordion:hover p {
    color: white;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    margin: 13px 0;
}

.active {
    background-color: #147efb;
}

.active p {
    color: white;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    margin: 13px 0;
}

.panel {
    padding: 0 13px;
    width: 100%;
    background-color: #e4e4e4;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: min-height 0.2s ease-out;
    border-radius: 0 0 7px 7px;
    margin-bottom: 5px;
}

.panel p {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border-style: hidden;
}

.styled-table thead tr {
    background-color: #147efb;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #147efb;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

@media (max-width: 800px) {
    #accordionContainer {
        width: 85%;
    }

    #mainFAQContainer>h1 {
        font-size: 1.6rem;
    }
}