:root {
    --videoWidth: 80vw;
}

#serverInstallContainer {
    flex-grow: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#confetti-canvas {
    width: 100vw;
    height: 100vh;
}

#serverInstallTitle {
    font-family: 'SF UI Display Bold';
    font-size: 2.2rem;
    font-style: normal;
    margin: 0;
    align-self: flex-start;
}

#youtubeInstallationTitle {
    font-family: 'SF UI Display Bold';
    font-size: 2.2rem;
    font-style: normal;
    margin: 0;
    align-self: flex-start;
}

.installationDesc {
    font-family: 'SF UI Display Bold';
    text-align: left;
    max-width: 650px;
}

#stepTitle {
    font-family: 'SF UI Display Bold';
    font-size: 1.8rem;
    font-style: normal;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 10px;
    align-self: flex-start;
}

#carouselContainer {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#carouselContainer * {
    box-sizing: border-box;
}

.carousel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carouselStep {
    opacity: 0;
    position: absolute;
    top: 0;
    margin: auto;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .35s, opacity .35s, z-index .35s;
}

.carouselStep.initial,
.carouselStep.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carouselStep.prev,
.carouselStep.next {
    z-index: 800;
}

.carouselStep.prev {
    transform: translateX(-100%);
}

.carouselStep.next {
    transform: translateX(100%);
}

.stepMediaContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    width: 60%;
    max-width: 60%;
}

.stepMediaContainer video {
    border-radius: 10px;
}

.stepTextContainer {
    height: auto;
    max-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    margin-top: 15px;
    flex-direction: column;
}

.stepText {
    font-family: 'SF UI Display Light';
    font-size: 1.4rem;
    font-style: normal;
    margin: 0;
}

.stepText a {
    color: #147efb;
    text-decoration: none;
}

.inTextIcon {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 4px;
    vertical-align: middle;
}

.carouselButtonDiv {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 15px 0;
}

.carouselButton--prev,
.carouselButton--next {
    z-index: 1001;
}

.carouselButton--prev>p,
.carouselButton--next>p {
    font-family: 'SF UI Display Bold';
    font-size: 1.3rem;
    font-style: normal;
    margin: 0;
    z-index: 1001;
}

.carouselButton--prev>p:hover,
.carouselButton--next>p:hover {
    color: #9b9b9b;
    cursor: pointer;
}

.carouselStep.prev,
.carouselStep.next {
    z-index: 800;
}

.referenceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 50px;
}

iframe {
    width: var(--videoWidth);
    height: calc(var(--videoWidth) * .5625);
    max-width: 650px;
    max-height: 365px;
}

@media (max-width: 1300px) {
    .referenceContainer {
        flex-direction: column;
        margin-bottom: 50px;
        width: 90%;
    }
}

@media (max-width: 1000px) {
    #serverInstallTitle {
        font-size: 1.8rem;
    }

    #stepTitle {
        font-size: 1.5rem;
    }

    .stepText {
        font-size: 1.2rem;
    }

    .stepMediaContainer {
        width: 75%;
        max-width: 75%;
    }
}

@media (max-width: 700px) {
    #serverInstallContainer {
        width: 90%;
    }

    #serverInstallTitle {
        font-size: 1.6rem;
    }

    #stepTitle {
        font-size: 1.35rem;
    }

    .stepText {
        font-size: 1.1rem;
    }

    .stepMediaContainer {
        width: 95%;
        max-width: 95%;
    }

    .carouselButton--prev>p,
    .carouselButton--next>p {
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {
    #serverInstallTitle {
        font-size: 1.4rem;
    }

    #stepTitle {
        font-size: 1.15rem;
    }
}

@media (max-height: 650px) {
    #serverInstallContainer {
        margin-bottom: 20px;
    }
}
