/* Hero Styles */
#hero {
    flex-grow: 1;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftCol {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Bold';
    font-size: 3.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0;
}

#subTitle {
    color: black;
    text-decoration: none;
    font-family: 'SF UI Display Light';
    font-size: 2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 10px 0 0 0;
    white-space: nowrap;
}

#get-started {
    background-color: #147efb;
    padding: 10px 35px 10px 35px;
    font-family: 'SF UI Display Light';
    color: white;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.8rem;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    white-space: nowrap;
}

#get-started:hover {
    background-color: #5BC236;
    cursor: pointer;
}

#rightCol {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#devices {
    max-width: 140%;
    height: auto;
}

@media (max-width: 1000px) {
    #title {
        font-size: 2.6rem;
    }

    #subTitle {
        font-size: 1.4rem;
    }

    #get-started {
        font-size: 1.2rem;
    }

    #devices {
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    #hero {
        width: 95%;
    }

    #devices {
        max-width: 95%;
    }
}

@media (max-width: 600px) {
    #hero {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #rightCol {
        margin-top: 30px;
    }

    #title {
        font-size: 2.3rem;
    }

    #subTitle {
        font-size: 1.3rem;
    }

    #get-started {
        font-size: 1.1rem;
        padding: 7px 25px;
    }

    #devices {
        max-width: 105%;
    }
}

@media (max-width: 400px) {
    #devices {
        max-width: 150%;
    }
}

@media (max-height: 800px) {
    #get-started {
        margin-top: 5px;
    }

    #leftCol {
        margin-top: 45px;
    }

    #rightCol {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    #devices {
        max-width: 150%;
    }
}

@media (max-height: 800px) and (min-width: 800px) {
    #devices {
        max-width: 80%;
    }
}