#downloadsContainer {
    flex-grow: 1;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clientsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 15px;
}

#serverContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.downloadTypeTitle {
    font-family: 'SF UI Display Bold';
    font-size: 2.2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.downloadButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.aDownloadButtonCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aDownloadButton {
    height: 110px;
    min-height: 110px;
    width: 110px;
    min-width: 110px;
    background-color: #147efb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #147efb;
    transition: ease-in-out .1s;
}

.aDownloadButton:hover {
    background-color: white;
    cursor: pointer;
}

.aDownloadButtonCol p {
    font-family: 'SF UI Display Bold';
    font-size: 1.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-top: 10px;
}

.middleDownloadCol {
    margin: 0 15px;
}

.downloadButtonImage {
    height: 70%;
    fill: white;
}

.aDownloadButton:hover .downloadButtonImage {
    fill: #147efb;
}

@media (max-width: 800px) {
    #downloadsContainer {
        flex-direction: column;
    }

    #clientsContainer {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .downloadTypeTitle {
        font-size: 1.8rem;
    }

    .aDownloadButton {
        height: 95px;
        min-height: 95px;
        width: 95px;
        min-width: 95px;
    }
}

@media (max-width: 500px) {
    .middleDownloadCol {
        margin: 0 5px;
    }

    .aDownloadButton {
        height: 85px;
        min-height: 85px;
        width: 85px;
        min-width: 85px;
    }

    .downloadTypeTitle {
        font-size: 1.6rem;
    }

    .aDownloadButtonCol p {
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {

    .downloadTypeTitle {
        font-size: 1.5rem;
    }

    .aDownloadButton {
        height: 75px;
        min-height: 75px;
        width: 75px;
        min-width: 75px;
    }

    .aDownloadButtonCol p {
        font-size: 1.15rem;
    }
}

@media (max-height: 650px) and (max-width: 800px) {
    #serverContainer {
        margin-bottom: 45px;
    }
}