#linuxInstallContainer {
    height: calc(var(--vh, 1vh) * 75);
    /* border: 3px solid green; */
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#linuxInstallContainer>h1 {
    width: 100%;
    text-align: center;
    font-family: 'SF UI Display Black';
    font-size: 1.8rem;
    font-style: normal;
    margin: 50px 0 40px 0;
}

.installRowContainer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.installRowContainer>h2 {
    width: 100%;
    margin: 0;
    font-family: 'SF UI Display Black';
    font-size: 1.3rem;
    font-style: normal;
    margin-bottom: 5px;
}

.codeContainer {
    height: 22px;
    width: 100%;
    background-color: #c4c4c4;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0;
    transition: ease-in-out .15s;
}

.codeContainer:active {
    background-color: white !important;
}

.codeContainer:hover {
    background-color: #9b9b9b;
    cursor: pointer;
}

.codeContainer:hover .copyButton {
    color: black;
    border-color: black;
}

.dollarSign {
    font-family: 'SF UI Display Bold';
    font-size: 1rem;
    font-style: normal;
    margin: 0;
    margin: 0 12px;
}

.codeExample {
    font-family: 'SF UI Display Light';
    font-size: .96rem;
    font-style: normal;
    margin: 0;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.copyButton {
    max-height: 14px;
    margin: 0 5px 0 auto;
    font-family: 'SF UI Display Light';
    padding: 2px 4px;
    font-size: 12px;
    font-style: normal;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
    transition: ease-in-out .15s;
}

#compileFromSourceContainer {
    width: 100%;
}

#compileFromSourceContainer>h2 {
    width: 100%;
    margin: 0;
    font-family: 'SF UI Display Black';
    font-size: 1.3rem;
    font-style: normal;
    margin-bottom: 5px;
}

#compileFromSourceContainer>h3 {
    width: 100%;
    margin: 0;
    font-family: 'SF UI Display Light';
    font-size: 1rem;
    font-style: normal;
    margin: 3px 0 5px 15px;
}

#compileFromSourceContainer .codeContainer {
    width: calc(100% - 30px);
    margin-left: auto;
}

@media only screen and (max-width: 1200px) {
    #linuxInstallContainer {
        width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    #linuxInstallContainer {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .copyButton {
        display: none;
    }
}